.grid {
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 60px auto;
}

.grid img {
  margin: 2px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.audio {
  display: none;
}
.grid img.flip {
  transform: rotateY(180deg);
}

.popup {
  background: red;
  width: 200px;
  height: 200px;
  position: fixed;
  z-index: 20;
  top: 100px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.data {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  font-size: 23px;
}

.data span {
  color: rgb(206, 121, 11);
  font-size: 30px;
}
